
<div class="container">
  <div class="row">
    <div class="col">
      <header>
        <h1>Checkout</h1>
        <h2>Total:$<%=total%></h2>
      </header>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6" id="products">
      <% include ./partials/messages %>

      <div class="card card-body text-center">

        <%if (login){%>
          <form class="payment-form" action="/checkout" method="post">
            <div class="form-group">
              <label for="name">Name</label>
              <div id="card-element">
                <input type="text" id='name'name ="name"  class='form-control' value='<%=user.user%>'>
              </div>
           </div>
           <div class="form-group ">
             <label for="address">Address</label>
             <div id="card-element">
             <input type="text" id='address'name ="address"  class='form-control' value='<%=user.address%>'>
           </div>
          </div>
          <div class="form-group">
            <label for="city">City or Town</label>
            <div id="city">
            <input type="text" id='city' name ="city"  class='form-control' value='<%=user.city%>'>
          </div>
         </div>
         <div class="form-group">
           <label for="country">Country</label>
           <div id="card-element">
           <input type="text" id='country' name="country"  class='form-control'value='<%=user.country%> '>
         </div>
        </div>
        <div class="form-group">
          <label for="zip">Zip Code</label>
          <div id="card-element">
          <input type="text" id='zip' name="zip"  class='form-control'value='<%=user.zip%>' >
        </div>
       </div>
       <div class="form-group">
         <label for="email">Email Address</label>
         <div id="card-element">
         <input type="text" id='email' name="email"  class='form-control' value='<%=user.email%>'>
       </div>
      </div>
      <button type="submit" name="button">Confirm address</button>

          </form>
          <%}else{%>
        <form class="payment-form" action="/checkout" method="post">
          <div class="form-group">
            <label for="name">Name</label>
            <div id="card-element">
              <input type="text" id='name'name ="name"  class='form-control' >
            </div>
         </div>
         <div class="form-group ">
           <label for="address">Address</label>
           <div id="card-element">
           <input type="text" id='address'name ="address"  class='form-control' >
         </div>
        </div>
        <div class="form-group">
          <label for="city">City or Town</label>
          <div id="city">
          <input type="text" id='city' name ="city"  class='form-control' >
        </div>
       </div>
       <div class="form-group">
         <label for="country">Country</label>
         <div id="card-element">
         <input type="text" id='country' name="country"  class='form-control' >
       </div>
      </div>
      <div class="form-group">
        <label for="zip">Zip Code</label>
        <div id="card-element">
        <input type="text" id='zip' name="zip"  class='form-control' >
      </div>
     </div>
     <div class="form-group">
       <label for="email">Email Address</label>
       <div id="card-element">
       <input type="text" id='email' name="email"  class='form-control' >
     </div>
    </div>
    <button type="submit" name="button">Confirm address</button>
        </form>
        <%}%>
      </div>

    </div>
  </div>

</div>

</div>
