<h1>Dashboard</h1>

<p>welcome <%= name %></p>
<p><%=user.email%></p>
<p><%=user.address%></p>
<p><%=user.city%></p>
<p><%=user.country%></p>
<p><%=user.zip%></p>

<a href="/users/logout"class="btn btn-secondary">Logout</a>
